<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= site.metadata.description %>" />
  <meta name="author" content="Jamie Macey">

  <title><%= [page.data["title"], site.metadata.title].compact.join(" | ") %></title>

  <!-- Bootstrap core style -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="<%= webpack_path "css" %>" />
  <script src="<%= webpack_path "js" %>" defer></script>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <%= render "navbar", metadata: site.metadata, page: page %>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <%= yield %>
  </div>
 
  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">

</body>
</html>
