<!DOCTYPE html>
<html lang="en">

<head>
  <%= liquid_render "head", metadata: site.metadata %>
</head>

<body>

  <!-- Navigation -->
  <%= liquid_render "navbar", metadata: site.metadata, page: page %>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <%= yield %>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        <%= liquid_render "sidebar", metadata: site.metadata, page: page %>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <%= liquid_render "footer", metadata: site.metadata %>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js">

</body>
</html>
