---
layout: default
---

<!-- Title -->
<div class="row border-bottom pb-4 mb-4 mt-2">
  <% if page.data["image"] %>
    <div class="col-lg ratio ratio-21x9">
      <!-- Preview Image -->
      <img style="object-fit: cover;" class="img-fluid rounded mx-auto w-100" src="<%= page.data["image"] %>" alt="">
    </div>
    <div class="col-lg-4 position-relative" style="min-height: 70px;">
      <h1 class="position-absolute top-50 start-50 translate-middle w-100 text-center"><%= page.data[:title] %></h1>
      <% if page.data[:source] %>
        <p class="position-absolute bottom-0 start-50 translate-middle w-100 text-center">
          <% if page.data[:source][:url] %>
            via <%= link_to page.data[:source][:text], page.data[:source][:url] %>
          <% else %>
            <%= page.data[:source][:text] %>
          <% end %>
        </p>
      <% end %>
    </div>
  <% else %>
    <div class="col p-5 position-relative">
      <h1 class="position-absolute top-50 start-50 translate-middle w-100 text-center"><%= page.data[:title] %></h1>
      <% if page.data[:source] %>
        <p class="position-absolute bottom-0 start-50 translate-middle w-100 text-center">
          source: <%= link_to page.data[:source][:text], page.data[:source][:url] %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="row">
  <!-- Ingredients -->
  <% if page.data[:ingredients].is_a?(Array) %>
    <div class="col-lg-5 mb-3">
      <h3 class="card-title text-decoration-underline">Ingredients</h3>
      <% page.data[:ingredients].each do |section| %>
        <% section.each do |heading, items| %>
          <h4><%= heading %></h4>
          <div class="ms-3">
            <%= render "ingredients", items: items %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif page.data[:ingredients].is_a?(Hash) %>
    <div class="col-lg-5 mb-3">
      <h3 class="card-title text-decoration-underline">Ingredients</h3>
      <%= render "ingredients", items: page.data[:ingredients] %>
    </div>
  <% end %>

  <!-- Method Column -->
  <div class="col-lg-7 border-start">
    <h3 class="card-title text-decoration-underline">Instructions</h3>
    <%= yield %>
  </div>
</div>
